{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "parser": "typescript",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}